<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<link rel="stylesheet" href="/css/usuarios.css">

<div class="painel">
  <h1 class="titulo">Lista de Usuários</h1>
  <div class="tabela-container">
    <table class="tabela-usuarios">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Idade</th>
          <th>Data de Nascimento</th>
          <th>Perfil de Acesso</th>
          <th colspan="2" style="text-align: center;" >Ações:</th>
        </tr>
      </thead>
      <tbody>
        <% usuarios.forEach(function(usuario) { %>
          <tr>
            <td><%= usuario.Nome_Usuario %></td>
            <td><%= usuario.Idade_Usuario %></td>
            <td><%= new Date(usuario.Data_Nascimento_Usuario).toLocaleDateString() %></td>
            <td><%= usuario.Perfil_Acesso %></td>
            <td><a
              onclick="return confirm ('Deseja mesmo excluir o usuario')"
              href="/usuarios/delete/<%= usuario.ID_Usuario %>"
              ><button class="btn btn-primary">Editar</button></a</td>
            <td><a
              onclick="return confirm ('Deseja mesmo excluir o usuario')"
              href="/usuarios/delete/<%= usuario.ID_Usuario %>"
              ><button class="btn btn-danger">Excluir</button></a</td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/footer.ejs') %>
